{% extends 'ballegro/base.html' %}
{% block content %}
<div class="container main" id="all-teams">
  <div class="row center">
    <h1> Wybierz swój zespół! </h1>
  </div>
  <div class="row jumbotron">
    <aside class="col-md-3" id="leagues">
      <ul>
      {% for league in leagues_with_teams %}
        <li>  {{ league.name }} </li>
      {% endfor %}
      </ul>
    </aside>
    <div class="col-md-9">
      {% for league, teams in leagues_with_teams.items %}
      <h2> {{ league.name }} </h2>
      <div class="cols" id="tiles">
        {% for team in teams %}
          <div class="col-xs-6 col-md-3" id="team-tile">
            <a href="{% url 'ballegro:team_show' team_name=team %}" class="thumbnail">
              <img src="{{ team.image }}" class="card-img-top"/>
            </a>
          </div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
