{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="pl-PL">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ballegro</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
    </head>
    <body>
        <header class="navbar navbar-fixed-top navbar-inverse">
            <a href="{% url 'ballegro:root' %}" id="logo">Ballegro</a>
            <div class="navbar-right">
              <a href="{% url 'ballegro:all_teams' %}"> All teams </a>
            </div>
        </header>

        {% block content %}
        {% endblock content %}

	      <footer class="footer">
          <nav>
            <small>
              Ballegro created by:
            </small>
            <ul>
              <li><a href="https://github.com/kasztanka">@Madzia</a></li>
              <li><a href="https://github.com/piotermiarer">@Piotr</a></li>
              <li><a href="https://github.com/mrspejn">@Tomek</a></li>
              <li><a href="https://github.com/k4ju/">@Kaju</a></li>
            </ul>
          </nav>
        </footer>
        <script src="{% static 'js/bundle.js' %}"></script>
    </body>
</html>
