{% extends 'ballegro/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container main" id="offers">
    <div class="center">
        {% if results %}
        <ul class="offers-list">
            {% for r in results %}
            <li class="offers-list__element">
                <a href="{{ r.url }}" class="offer thumbnail">
                    <div class="offer__details">
                        <h4 class="offer__title">{{r.name}}</h4>
                        <span class="offer__price">{{ r.prices.buyNow.amount}}{{ r.prices.buyNow.currency}}</span>
                    </div>
                    <img class="offer_image" src="{{ r.images.0.url }}"/>
                </a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <div class="no-offers">
            <h3 class="no-offers__info">Nothing to see here</h3>
            <img class="no-offers__image" src="{% static 'images/benched.svg' %}" />
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
