{% extends 'ballegro/base.html' %}
{% block content %}
  <h1> Skompletuj swój ubiór! </h1>
  <div class="row center" id="upcoming">
    <h2> Nadchodzące mecze </h2>
    <ul>
      {% for match in upcoming_matches.fixtures %}
        <li>
          {{ match.homeTeamName }} : {{ match.awayTeamName }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <br/>
  <div class="container">
    <div class="cols" id="tiles">
      {% for team in teams %}
        <div class="col-xs-6 col-md-3">
          <a href="" class="thumbnail">
            <img src="{{ team.image }}" class="card-img-top"/>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

    <!-- {% for team in teams %}
    <div class="team">
        <h4>{{ team.name }}</h3>
        <img src="{{ team.image }}"/>
    </div>
    {% endfor %} -->
{% endblock content %}
