/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$gray-light: #999999;
$gray: #555555;
$gray-darker: #222222;
/* universal */

body {
    padding-top: 60px;
    background-color: #f1f1f1;

}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
.figures {
    width: 70vw;
    margin: -13vw auto 0;
    min-height: calc(100vh - 160px);
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    justify-content: space-around;
    svg {
        display: block;
    }
}
/* header */
.navbar {
    margin-bottom: 0;
    background-color: #353230;
    height: 70px;
}
#team-show {
    #logo {
        left: -4px;
    }
}
#logo {
  position: relative;
  float: left;
  margin-right: 10px;
  font-size: 2.3em;
  color: #ff5a00;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color:white;
    text-decoration: none;
  }

  &::after {
      content: '';
      width: 50px;
      height: 50px;
      left: -60px;
      position: absolute;
      z-index: -1;
      background: url('/static/images/logo.svg');
      background-repeat: no-repeat;
      background-size: contain;
      animation-timing-function: linear;
      animation-name: roll-and-wait;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 4em;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
    color: $gray;
    line-height: 20px;
    vertical-align: baseline;
    }
  ul {
    float: left;
    list-style: none;
    li {
        float: left;
        margin-left: 15px;
    }
  }
}

/* root */

#upcoming {
  ul {
    list-style: none;
    li {
      font-size: 1.5em;
      font-weight: bold;
    }
  }
}

.thumbnail img{
  height: 200px;
}

.banner {
    width: 65%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    &__emblem {
        max-width: 200px;
        max-height: 200px;
        width: 200px;
        height: 200px;

    }
    &__heading {
        font-weight: 800;
        font-size: 3.5em;
        line-height: 2em;
    }
}

svg {
    #shorts-p1, #shorts-p2, #shorts-inside-p1, #shorts-inside-p2, #socks,
    #shirt-top, #shirt-back, #boot1-top, #boot2-top, #boot1-down, #boot2-down,
    #ball, #scarf, #hat, #tracksuit-down, #shirt-fan, #boot1-top-fan, #boot2-top-fan, #boot1-down-fan, #boot2-down-fan {
        cursor: pointer;
    }
}

@keyframes roll-and-wait {
  0% {
    transform: rotate(0); }
  10% {
    transform: rotate(0); }
  90% {
    transform: rotate(540deg); }
  100% {
    transform: rotate(540deg); } }
