/* mixins, variables, etc. */
/* universal */
body {
  padding: 0.01em;
  padding-top: 60px;
  background: linear-gradient(to top right, #ffffff 0%, #ffffff 50%, #fafafa 50%, #fafafa 100%);
  background-position: center;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh; }

.container {
  max-width: 100%; }

.center {
  text-align: center; }

.jumbotron {
  padding-top: 10px; }

.invite {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 3em; }

.figures {
  width: 70vw;
  margin: 0 auto 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  justify-content: center; }
  .figures svg {
    display: block; }

/* header */
.navbar {
  margin-bottom: 0;
  background-color: #353230;
  height: 70px; }

.navbar-right {
  position: relative;
  float: right;
  margin-right: 20vw;
  font-size: 1.2em;
  padding-top: 20px; }
  .navbar-right a {
    color: white; }
    .navbar-right a:hover {
      color: #ff5a00;
      text-decoration: none; }

#team-show #logo {
  left: -4px; }

#logo {
  position: relative;
  float: left;
  margin-left: 20vw;
  font-size: 2.3em;
  color: #ff5a00;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold; }
  #logo:hover {
    color: white;
    text-decoration: none; }
  #logo::after {
    content: '';
    width: 50px;
    height: 50px;
    left: -60px;
    position: absolute;
    z-index: -1;
    background: url("/static/images/logo.svg");
    background-repeat: no-repeat;
    background-size: contain; }
  #logo:hover::after {
    animation-timing-function: linear;
    animation-name: roll-and-wait;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both; }

.container#root {
  margin-bottom: 30px; }

/* footer */
footer {
  position: absolute;
  bottom: 0;
  margin-top: 45px;
  padding-top: 5px;
  padding-left: 4em;
  color: #999999; }
  footer a {
    color: #555555; }
    footer a:hover {
      color: #222222; }
  footer small {
    float: left;
    color: #555555;
    line-height: 20px;
    vertical-align: baseline; }
  footer ul {
    float: left;
    list-style: none; }
    footer ul li {
      float: left;
      margin-left: 15px; }

.thumbnail {
  cursor: pointer; }

.thumbnail img {
  height: 200px; }

.banner {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between; }
  .banner__emblem {
    max-width: 10vw;
    max-height: 10vw;
    width: 10vw;
    height: 10vw; }
  .banner__heading {
    font-weight: 800;
    font-size: 3vw;
    line-height: 2em; }

.upcoming {
  width: 650px;
  margin: 0 auto;
  list-style: none; }
  .upcoming__single {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-between; }
  .upcoming span {
    width: 40%;
    text-align: left; }
  .upcoming span.upcoming__left {
    text-align: right; }
  .upcoming span.upcoming__separator {
    width: 20%;
    text-align: center; }

svg #shorts-p1, svg #shorts-p2, svg #shorts-inside-p1, svg #shorts-inside-p2, svg #socks,
svg #shirt-top, svg #shirt-back, svg #boot1-top, svg #boot2-top, svg #boot1-down, svg #boot2-down,
svg #ball, svg #scarf, svg #hat, svg #tracksuit-down, svg #shirt-fan, svg #boot1-top-fan, svg #boot2-top-fan, svg #boot1-down-fan, svg #boot2-down-fan {
  cursor: pointer; }

#player {
  height: 60vh; }

#fan {
  height: 70vh; }

.offers-list {
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .offers-list a {
    margin-bottom: 0; }
  .offers-list__element {
    max-width: 20%;
    min-width: 20%;
    padding: 5px;
    box-sizing: border-box; }

.offer {
  border-radius: 2px;
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box; }
  .offer img {
    object-fit: contain; }
  .offer__details {
    color: #fff;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 90, 0, 0.9);
    position: absolute;
    left: 100%;
    transition: left .25s ease;
    z-index: 10; }
  .offer__price {
    font-size: 24px;
    font-weight: 900;
    position: absolute;
    bottom: 20px;
    right: 20px; }
  .offer:hover .offer__details {
    left: 0px; }

.no-offers {
  margin-top: 80px; }
  .no-offers__info {
    text-align: left;
    font-size: 4em;
    font-weight: 900; }

@keyframes roll-and-wait {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }
